.rightMenuColumnCompContainer {
    display: flex;
    height: 100%;
    min-width: 4rem;
    background-color: orange;
    flex-direction: column;
}

.rightIconContainer {
    display: flex;
    height: 2.7rem;
    background-color: red;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.rightMenuIconStyle {
    display: flex;
    height: 1.7rem;
}