.outerUpperNavContainer {
    display: flex;
    min-height: 3.5rem;
    background-color: violet;
    width: 100%;
    justify-content: space-between;
}

.leftDividerContainer {
    display: flex;
    height: 100%;
    width: 60rem;
    background-color: red;
    align-items: center;
}

.rightDividerContainer {
    display: flex;
    height: 100%;
    width: 20rem;
    background-color: bisque;
    justify-content: flex-end;
}

.rightSideImageDivider {
    display: flex;
    height: 100%;
    width: 2.5rem;
    background-color: aquamarine;
}

.rightSideImageIconStyle {
    display: flex;
    
}

.iconGraphicStyle {
    display: flex;
    margin-left: 0.8rem;
    height: 2.2rem;
}