.meetingHorizontalDetailCompContainer {
    display: flex;
    height: 2.5rem;
    width: 100%;
    /* background-color: orange; */
    align-items: center;
}

.imageContainer {
    display: flex;
    height: 100%;
    width: 2rem;
    /* background-color: yellow; */
    align-items: center;
    justify-content: center;
    margin-left: 0.65rem;
    margin-right: 0.5rem;
}

.iconStyle {
    display: flex;
    height: 1.5rem;
}